.colors-container {
    width: 100%;
    height: auto;

    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.colors-animated {
    width: 100%;
    height: auto;
}
.color-item {
    /* width: 637px; */
    width: 100%;
    /* test lower width later */
    height: 80px;

    background-color: var(--background-tertiary);
    border-radius: 0 20px 20px 20px;

    transition: background-color .2s ease;

    box-sizing: border-box;
    margin-bottom: 12.5px;
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    transition: border .2s ease;
}
.color-item:hover {
    background-color: var(--background-quinary);
}
.color-preview {
    width: 55px;
    height: 55px;
    
    border-radius: 100%;
    background-color: #000;
}

.color-input {
    width: 123px;
    height: 37px;

    margin-left: 16px;
    padding-left: 12px;

    border: none;
    border-radius: 25px;

    transition: border .2s ease;
    border: 2px solid var(--background-quaternary);
    
    font-family: Ginto;
    font-weight: normal;
    font-size: 15px;
    color: var(--input-color);

    background-color: var(--background-quaternary);
}
.color-input:hover {
    border: 2px solid var(--input-hover);
}
.color-input:focus {
    border: 2px solid var(--input-focus);
}
.color-input::placeholder {
    opacity: .5;
    color: var(--input-color);
}
.color-input:-ms-input-placeholder {
    opacity: .5;
    color: var(--input-color);
}

.color-input::-ms-input-placeholder {
    opacity: .5;
    color: var(--input-color);
}

.color-button {
    width: 42.5px;
    height: 42.5px;

    transition: color .2s ease, background-color .2s ease;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 100%;

    background-color: var(--button-background-default);
}
.color-button:not(:first-child) {
    margin-left: 10px;
}
.color-button > svg {
    width: 20px;
    height: 20px;

    fill: var(--icon-color);
}
.color-button:hover {
    background-color: var(--button-background-hover);
}
.color-counter-container {
    height: 32px;
    position: relative;
}
.color-counter {
    width: 32px;
    height: 32px;
    position: absolute;
    user-select: none;

    top: -40px;
    left: -245px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s ease;
    background-color: var(--background-tertiary);
    border-radius: 100%;
}
.color-counter-text {
    margin: 0%;
    cursor: default;

    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}

.color-management {
    margin-right: auto;
}

@media only screen and (max-width: 1080px) {
    .color-item {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        gap: 15px;
    }
    .color-management {
        margin-right: 0%;
        gap: 10px; 
    }
    .color-management > .color-button {
        margin-left: 0px;
    }
}