.colors-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.colors-wrapper-item {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--tertiary-background-color);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    margin: 5px;

    width: 150px;
    height: 65px;
}
.colors-wrapper-item-color {
    background-color: var(--main-black-color);

    width: 100%;
    height: 32.5px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.colors-wrapper-item-input {
    background-color: var(--tertiary-background-color);

    width: 120px;
    height: 20px;
    margin: 5px;

    cursor: text;
    border: none;
    border-radius: 50px;
    
    text-align: center;
    font-weight: 500;
    color: var(--text-title-color);
}
.colors-wrapper-item-input::placeholder {
    text-align: center;
    font-weight: 500;
    color: var(--text-description-color-light);
}
.colors-wrapper-button-wrapper {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--tertiary-background-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 55px;

    margin: 6px;

    border-radius: 50px;
}
.colors-wrapper-button {
    width: 55px;
    height: 55px;
}
.colors-wrapper-button-icon {
    fill: var(--primary-icon-color);

    margin: auto;
    
    border-radius: 50px;
    transition: all 0.25s;
    
    cursor: pointer;
    overflow: hidden;
}
.colors-wrapper-button-icon:hover {
    background-color: var(--tertiary-background-color);
}