.content-container {
    max-height: calc(100% - 48px);

    display: flex;
    flex-direction: row;
    align-items: stretch;
    -webkit-box-align: stretch;
    flex: 1 1 0%;
}
.content-container-item {
    flex: 1 1 0%;
    height: 100%;

    overflow-y: scroll;
}