.logo {
    width: 100px;
    cursor: pointer;
}
.logo > svg {
    width: 100px;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, .5));
}
.title {
    width: 50%;
    margin: 10px 0 0 0;

    cursor: default;

    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color);
}
.description {
    width: 75%;
    margin: 0%;

    cursor: default;

    text-align: center;
    font-size: 15px;
    color: var(--text-color);
}
.icons {
    margin: 0px 25px 5px auto;

    display: flex;
    flex-direction: row;
    align-content: center;

    display: flex;
    flex-direction: row;
    align-content: center;
}
.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.icon:not(:first-child) {
    margin-left: 15px;
}
.icon > svg {
    fill: var(--icon-color);
}

@media only screen and (max-width: 1080px) {
    .icons {
        gap: 10px;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .icon {
        margin-left: 0px;
    }
    .icon:not(:first-child) {
        margin-left: 0px;
    }
}