.output-container {
    width: auto;
    height: auto;

    box-sizing: border-box;
    margin-top: 25px;
    padding: 10px;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    align-content: center;
    gap: 10px;

    border-radius: 100px;
    background-color: var(--background-tertiary);
}
.output-button {
    width: 40px;
    height: 40px;

    transition: color .2s ease, background-color .2s ease, border .2s ease;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 100%;
    
    border: 3.5px solid var(--button-background-default);

    background-color: var(--button-background-default);
}
.output-button-selected {
    border: 3.5px solid var(--icon-color);
}
.output-button > svg {
    width: 24px;
    height: 24px;

    fill: var(--icon-color);
}
.output-button:hover {
    background-color: var(--button-background-hover);
    border: 3.5px solid var(--button-background-hover);
}
.output-button-selected:hover {
    background-color: var(--button-background-hover);
    border: 3.5px solid var(--icon-color);
}

.output-list-container {
    width: 100%;
    height: auto;

    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.output-list-item {
    width: 260px;
    height: 80px;

    background-color: var(--background-tertiary);
    border-radius: 0 20px 20px 20px;

    box-sizing: border-box;
    margin-bottom: 12.5px;
    padding: 16px;

    transition: background-color .2s ease, border .2s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.output-list-item:hover {
    background-color: var(--background-quinary);
}
.output-list-preview {
    width: 50px;
    height: 50px;
    
    border-radius: 100%;
    background-color: #000;
}

.output-list-text {
    min-width: 100px;
    max-width: 100px;
    
    margin-left: 12px;
    
    font-family: Ginto;
    font-weight: normal;
    font-size: 20px;
    color: var(--input-color);
}

.output-list-button {
    width: 42.5px;
    height: 42.5px;

    transition: color .2s ease, background-color .2s ease;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin-left: 10px;

    cursor: pointer;
    border-radius: 100%;

    background-color: var(--button-background-default);
}
.output-list-button > svg {
    width: 20px;
    height: 20px;

    fill: var(--icon-color);
}
.output-list-button:hover {
    background-color: var(--button-background-hover);
}
.output-list-counter-container {
    height: 32px;
    position: relative;
}
.output-list-counter {
    width: 32px;
    height: 32px;
    position: absolute;
    user-select: none;

    top: -40px;
    left: -197px;

    overflow: hidden;
    transition: background-color .2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-tertiary);
    border-radius: 100%;
}
.output-list-counter-text {
    margin: 0%;
    cursor: default;

    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}