.points-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.points-wrapper-amount {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--tertiary-background-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    margin: 5px;

    width: 55px;
    height: 55px;
}
.points-wrapper-amount-text {
    font-size: 20px;
    font-weight: 600;

    text-align: center;
    margin: auto;

    color: var(--text-title-color);
}
.points-wrapper-button-wrapper {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--tertiary-background-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 55px;

    margin: 6px;

    border-radius: 50px;
}
.points-wrapper-button {
    width: 55px;
    height: 55px;
}
.points-wrapper-button-icon {
    fill: var(--primary-icon-color);

    margin: auto;
    
    border-radius: 50px;
    transition: all 0.25s;
    
    cursor: pointer;
    overflow: hidden;
}
.points-wrapper-button-icon:hover {
    background-color: var(--tertiary-background-color);
}