.role-preview-wrapper {
    min-height: 55px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    border-radius: 25px;
}
.role-preview-wrapper-item {
    background-color: var(--role-preview-background-color);
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.role-preview-wrapper-drag-icon {
    width: 16px;
    height: 16px;

    cursor: grab;

    margin-right: 10px;
}
.role-preview-wrapper-drag-icon > g {
    fill: var(--role-preview-icon-color);
}
.role-preview-wrapper-drag-icon:hover > g {
    fill: var(--role-preview-icon-color-hover);
}
.role-preview-wrapper-role-icon {
    width: 20px;

    margin-right: 10px;
}
.role-preview-wrapper-role-name {
    font-size: 15px;
    font-weight: 500;

    color: var(--text-title-color);
    margin-right: 80px;
}
.role-preview-wrapper-member {
    display: flex;
}
.role-preview-wrapper-member-amount {
    font-size: 12.5px;
    font-weight: 300;

    cursor: pointer;

    color: var(--role-preview-icon-color);
    margin-right: 2.5px;
}
.role-preview-wrapper-member-amount:hover {
    color: var(--role-preview-icon-color-hover);
}
.role-preview-wrapper-member-icon {
    fill: var(--role-preview-icon-color);

    width: 20px;

    margin-right: 150px;
    cursor: pointer;
}
.role-preview-wrapper-member-icon:hover {
    fill: var(--role-preview-icon-color-hover);
}
.role-preview-wrapper-button {
    background-color: var(--role-preview-button-color);
    width: 20px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin: 5px;
    padding: 5px;

    border-radius: 50px;
}
.role-preview-wrapper-button:hover {
    background-color: var(--role-preview-button-color-hover);
}
.role-preview-wrapper-button-icon {
    fill: var(--role-preview-icon-color);

    width: 16px;
}
.role-preview-wrapper-button-icon:hover {
    fill: var(--role-preview-icon-color-hover);
}