.tooltip-wrapper {
    background-color: var(--quaternary-background-color) !important;

    padding: 7.5px !important;
    border-radius: 5px !important;

    animation-name: tooltip !important;
    animation-duration: 2s !important;
    animation-direction: normal;
}
.tooltip-wrapper::before {
    border-top-color: var(--quaternary-background-color) !important;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    bottom: -6px !important;

    animation-name: tooltip !important;
    animation-duration: .25s !important;
    animation-direction: normal;
}
.tooltip-wrapper::after {
    border-top-color: var(--quaternary-background-color) !important;

    animation-name: tooltip-fade !important;
    animation-duration: .25s !important;
}

.tooltip-wrapper-content {
    font-weight: 100;

    margin: 0%;
}

@-webkit-keyframes tooltip-fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes tooltip-fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}