@import url(https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap);

body {
    margin: 0px;

    background-color: #f2f3f5;
    font-family: 'Hind';
    font-display: swap;
    user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

text, p, h1, h2, h3 {
    cursor: text;
}

textarea:focus, input:focus{
    outline: none;
}
