#top-wrapper {
    padding: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    height: auto;
    text-align: center;
    background-color: #ffffff;
}

.text-title {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 700;
    margin: 2px;

    color: #2e3338;
}
.text-description {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    margin: 2px;

    color: #B7BAC0;
}

#folder-wrapper {
    width: 75%;
    margin: 25px;
    margin-left: 12.5%;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}
.folder-item {
    border-radius: 50px;
    margin: 5px;
    width: 150px;
    height: 46px;

    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #f2f3f5;
}
.folder-color {
    border-radius: 50px;
    width: 46px;
    height: 46px;

    transition: border-radius 0.5s ease;
    background-color: #4f5660;
}
.folder-color:hover {
    border-radius: 15px;
}
.folder-text {
    font-weight: 600;
    font-size: 23px;
    margin: 5px;

    color: #4F5660;
}
.folder-icon {
    margin-top: 20%;

    color: #f2f3f5;
}

#button-wrapper {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 25%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}
.button-item {
    width: 75px;
    height: 63px;

    background-color: #ffffff;
}
.button-content {
    width: 50%;
    margin-left: 25%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}
.button-content-item {
    min-width: 63px;
    min-height: 63px;
    max-width: 63px;
    max-height: 63px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;

    background-color: #d4d7dc;
}
.button-content-double-item {
    min-width: 220px;
    min-height: 63px;
    max-width: 220px;
    max-height: 63px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;

    background-color: #d4d7dc;
    display: flex;
}
.button-content-double-item > div {
    margin-top: 7%;
}
.button-content-item-icon {
    min-width: 63px;
    min-height: 63px;
    margin-top: 20%;

    cursor: pointer;
    background: border-box;
}
.button-content-item-icon:first-child {
    fill: #4f5660;
}
.button-content-item-text {
    font-weight: 600;
    font-size: 15px;

    margin: auto;
    margin-left: 0%;
    
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
    color: #4F5660;
}

.main-tooltip {
    padding: 5px !important;
    padding-top: 5px !important;
    border-radius: 25px !important;
}

[tag="clickable-item"] {
    transition: background-color 0.25s ease;
    
    cursor: pointer;
    background-color: #d4d7dc;
}
[tag="clickable-item"]:hover {
    cursor: pointer;
    background-color: #c6c9cd;
}